{%extends "base/admin_base.html" %}

{% block head %}
<title>User Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>History for {{ user_name }}</h1>
</div>

<div class="content">
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Name</th>
            <th>Action</th>
            <th>Barcode</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
        {% for i in range(timestamp|length) %}
            <tr>
                <td>{{ timestamp[i] }}</td>
                <td>{{ name[i] }}</td>
                <td>{{ action[i] }}</td>
                <td>{{ barcode[i] }}</td>
                <td>{{ product_name[i] }}</td>
                <td>{{ amount[i] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}