{%extends "base/admin_base.html" %}

{% block head %}
<title>Admin Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Users</h1>
</div>

<div class="content">
    <p><a href="{{ url_for('add_user', admin_name=admin_name) }}">add a user</a></p>
</div>

<div class="content">
    <table class="center_table">
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Balance</th>
            <th>Total spent</th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
        {% for i in range(user_names|length) %}
            <tr>
                <td>{{ user_names[i] }}</td>
                <td>{{ user_emails[i] }}</td>
                <td>{{ user_balances[i] }}</td>
                <td>{{ user_totals[i] }}</td>
                <td><a href="{{ url_for('view_user_history', admin_name=admin_name, user_name=user_names[i]) }}">view history</a></td>
                <td><a href="{{ url_for('add_user_balance', admin_name=admin_name, user_name=user_names[i]) }}">add balance</a></td>
                <td><a href="{{ url_for('admin_change_user_email', admin_name=admin_name, user_name=user_names[i]) }}">change e-mail</a></td>
                <td><a href="{{ url_for('admin_change_user_password', admin_name=admin_name, user_name=user_names[i]) }}">change password</a></td>
                <td><a href="{{ url_for('remove_user', admin_name=admin_name, user_name=user_names[i]) }}">remove</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="content">
    <h1>Products</h1>
</div>

<div class="content">
    <p><a href="{{ url_for('add_product', admin_name=admin_name) }}">add a product</a></p>
</div>

<div class="content">
    <table class="center_table">
        <tr>
            <th>Barcode</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for i in range(product_barcodes|length) %}
            <tr>
                <td>{{ product_barcodes[i] }}</td>
                <td>{{ product_names[i] }}</td>
                <td>{{ product_prices[i] }}</td>
                <td><a href="{{ url_for('change_product_price', admin_name=admin_name, product_barcode=product_barcodes[i], product_name=product_names[i]) }}">update price</a></td>
                <td><a href="{{ url_for('change_product_name', admin_name=admin_name, product_barcode=product_barcodes[i], product_name=product_names[i]) }}">update name</a></td>
                <td><a href="{{ url_for('remove_product', admin_name=admin_name, product_barcode=product_barcodes[i] ,product_name=product_names[i]) }}">remove</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="content">
    <h1>Admins</h1>
</div>

<div class="content">
    <table class="center_table">
        <tr>
            <td><a href="{{ url_for('change_admin_password', admin_name=admin_name) }}">change my password</a></td>
            <td><a href="{{ url_for('add_admin', admin_name=admin_name) }}">add an admin</a></td>
        </tr>
    </table>
</div>

<div class="content">
    <table class="center_table">
        <tr>
            <th>Name</th>
        </tr>
        {% for i in range(admin_names|length) %}
            <tr>
                <td>{{ admin_names[i] }}</td>
                {% if not admin_names[i] == admin_name %}
                <td><a href="{{ url_for('remove_admin', admin_name=admin_name, remove_admin_name=admin_names[i]) }}">remove</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
