{%extends "base/admin_base.html" %}

{% block head %}
<title>Admin Page</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Change my Password</h1>

    <p>You will be sent back to the login menu after the change.</p>

    <form action="{{ url_for('change_admin_password', admin_name=admin_name) }}" method="POST">
        <label for="current_password">Current password:</label>
        <input type="password" name="current_password" id="current_password">
        <br>
        <label for="new_password">New password:</label>
        <input type="password" name="new_password" id="new_password">
        <br>
        <label for="new_password_check">New password again:</label>
        <input type="password" name="new_password_check" id="new_password_check">
        <br>
        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}