{%extends "base/user_base.html" %}

{% block head %}
<title>User Page</title>
{% endblock %}

{% block body %}

<div class="content">
    <table class="center_table">
        <tr>
            <td>Welcome {{ user_name }}!</td>
            <td>E-mail: {{ email }}</td>
        </tr>
        <tr>
            <td>Balance: {{ balance }}</td>
            <td>Total spent: {{ total_spent }}</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('change_user_email', user_name=user_name) }}">change e-mail</a></td>
            <td><a href="{{ url_for('change_user_password', user_name=user_name) }}">change password</a></td>
        </tr>
    </table>
</div>

<div class="content">
    <h1>History</h1>
</div>

<div class="content">
    <table class="center_table">
        <tr>
            <th>Timestamp</th>
            <th>Name</th>
            <th>Action</th>
            <th>Barcode</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
        {% for i in range(timestamp|length) %}
            <tr>
                <td>{{ timestamp[i] }}</td>
                <td>{{ name[i] }}</td>
                <td>{{ action[i] }}</td>
                <td>{{ barcode[i] }}</td>
                <td>{{ product_name[i] }}</td>
                <td>{{ amount[i] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="content">
    <h1>Available Products</h1>
</div>

<div class="content">
    <table class="center_table">
        <tr>
            <th>Barcode</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for i in range(product_barcodes|length) %}
            <tr>
                <td>{{ product_barcodes[i] }}</td>
                <td>{{ product_names[i] }}</td>
                <td>{{ product_prices[i] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}